<html>
<h2><%=link_to 'add', new_book_path%></h2>

<h2>MORANDO DE ALUGUEL?</h2>
<div>
  <img src="https://www.diariodocentrodomundo.com.br/wp-content/uploads/2021/01/whatsapp-image-2021-01-09-at-09-58-34.jpeg">
</div>
</html>